<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/initController.js"></script>
    <script src="js/controllers/initWebSocket.js"></script>

    <script src="js/directives/mainDirective.js"></script>

    <script src="js/services/mainService.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="initController">

    <ion-pane>
      <ion-header-bar align-title="center" class="bar bar-positive">
        <h1 class="title myTitle">{{configdata.roomname}}</h1>
        <button class="button button-icon icon ion-android-menu"
                ng-click="configmodal.show()"
                side="right" >
        </button>
      </ion-header-bar>
      <ion-content>
        <div class="row">
          <div class="col  mygrid col-33">
            <button class="button myButton">候诊病人</button>
            <div>
              <ion-list class="myList">
                <ion-item ng-repeat="item in data"  item="item" class=" item ng-binding ng-animate {{item.flag==1?'flash1':'listitem'}} ng-enter ng-enter-active" ng-class="{{item.flag==1?'\'flash1\'':'\'listitem\''}}">
                  {{item.name}}
                </ion-item>
              </ion-list>

            </div>

          </div>
          <div class="col  mygrid">
            <button class="button myButton">医生简介</button>

              <div style="text-align: center;vertical-align: middle;padding: 20px;">
                <div style="margin:0 auto" class="circletagnew">
                  <img width="128px;" height="128px;" src="{{doctorinfo.img}}">
                </div>

              </div>
            <div style="text-align: left;font-size: xx-large;line-height: normal;">
              {{doctorinfo.info}}
            </div>

          </div>

        </div>

      </ion-content>
    </ion-pane>
  </body>
</html>
